@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.header-contanier {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1080px;
    width: 100%;
    padding: 0.5rem;
    height: 6vh;
    font-family: 'Space Mono', monospace;
}

.linkContainer {
    display: flex;
    align-items: center;
}

.navLink {
    color: #ccd6f6;
    padding: 10px;
    margin-right: 10px;
}

.navLink:hover {
    border: 2px dashed #64ffda;
    color: #64ffda;
    cursor: pointer;
}

.greenText {
    color: #64ffda;
}

.navButton {
    padding: 12px 18px;
    margin-right: 10px;
    color: #64ffda;
    border: 2px solid #64ffda;
    border-radius: 2px;
    background: none;

}

.navButton:hover {
    background-color: rgba(100, 255, 218, 0.1);
    cursor: pointer;
}

.mainLogo {
    border: 2px solid #64ffda;
    padding: 12px 15px;
    border-radius: 4px;
}

.mainLogo:hover {
    background-color: rgba(100, 255, 218, 0.1);
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .header-contanier {
        flex-direction: column;
        height: 100%;
    }

    .linkContainer {
        flex-wrap: wrap;
        margin-top: 10px;
        justify-content: center;
    }

    .navLink {
        margin: 10px 0px;
    }

    .navButton {
        margin-top: 10px;
    }
}